nav{
    background-color: rgb(45, 43, 43);
    text-decoration-color: aliceblue;
    padding: .1px;
    vertical-align: middle;
    padding-left: 1%;
    word-spacing: 20px;
}
.column {
    float: left;
    padding: 10px;
    height: flex; 
  }
.left{
    width: 30%;

}
.center{
    width: 30%;
    
}
.right {
    width: 30%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


.footer{
    font-size: x-small;
}
img{
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 50%;
}
a{
    color: white;
    text-decoration: none;
}
